<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ .title }}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <style type="text/css" media="screen">
            @import url("/assets/css/site.css");
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <h1>{{ .title }}</h1>

            <!--タスク追加Form-->
            <form action="/" method="post">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-outline-primary">追加</button>
                    </div>
                    <input type="text" name="title" class="form-control" placeholder="タスク名" aria-label="..." aria-describedby="button-addon1">
                    <input type="date" class="form-control" name="deadline"/>
                </div>
            </form>

            <!--タスク一覧-->
            <table class="table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th scope="col">名称</th>
                        <th>期限</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {{ range .tasks }}
                <tr>
                    <td>
                        <input class="form-control" type="checkbox" name="task_{{.ID}}" {{if .Done}}checked{{end}}/>
                    </td>
                    <td>
                        <label id="task_{{.ID}}" name="task_title_{{.ID}}" >{{ .Title}}</label>
                    </td>
                    <td>
                        <label>{{ .DeadlineDate }}</label>
                    </td>
                    <td>
                        <button id="task_delete_{{.ID}}" type="button" name="task_delete" class="btn btn-outline-danger btn-sm">
                            <i class="fas fa-ban"></i>削除
                        </button>
                    </td>
                </tr>
                {{end}}
                </tbody>
            </table>

            <!--モーダルウィンドウ表示用-->
            <div id="modal-content" style="display:none">
                <p> 
                    <h2>Edit Task</h2>
                </p>
                <p>
                    <div class="input-group mb-3">
                        <input type="text" id="modal-title" class="form-control" placeholder="タスク名" aria-label="..." aria-describedby="button-addon1">
                    </div>
                    <input id="modal_task_id" type="hidden" name="ID" />
                    
                </p>
                <p>
                    <button id="modal-update" class="btn btn-primary">更新</button>
                    <button id="modal-close" class="btn btn-secondary">閉じる</button>
                </p>
            </div>

        </div>
        <script type="text/javascript">
            $(function(){
                //チェックボックス押下処理
                $('input[name^="task_"').click(function () {
                    $.ajax({
                        url:'./changedone',
                        type:'POST',
                        data:{
                            'id':$(this).attr('name').split("_")[1],
                            'done':$(this).prop("checked")
                        }
                    });
                });


                //タスク更新処理
                $('#modal-update').click(function () {
                    let id = $("#modal_task_id").val();
                    console.log("id : " + id + " のデータを更新します");
                    $.ajax({
                        url:'./update',
                        type:'POST',
                        data:{
                            'id': id,
                            'title':$("#modal-title").val()
                        }
                    });
                    console.log($("#task_" + id));
                    console.log($("#modal-title").text());
                    console.log($("#modal-title").val());
                    $("#task_" + id).text($("#modal-title").val());
                    console.log($("#task_" + id));


                    closeModal();
                });

                //タスク編集処理
                $('label[name^="task_title"').click(function () {
                    let id = $(this).attr('name').split("_")[2];
                    
                    console.log($(this));
                    console.log("hidden要素にidを設定します。id: " + id);
                    $("#modal_task_id").val(id);
                    $("#modal-title").val($(this).text());

                    $(this).blur();	//ボタンからフォーカスを外す
                    if($("#modal-overlay")[0]) $("#modal-overlay").remove() ;

                    $("body").append('<div id="modal-overlay"></div>');

                    $("#modal-overlay").fadeIn("slow");
                    centeringModalSyncer();
                    $( "#modal-content" ).fadeIn( "slow" );
                    $( "#modal-overlay,#modal-close" ).unbind().click( function(){
                        closeModal();
	                });
                });

                //チェックボックス削除処理
                $('button[name="task_delete"]').click(function () {
                    console.log("delete");
                    console.log($(this).attr("id").split("_")[2]);
                    let id = $(this).attr("id").split("_")[2];
                    $.ajax({
                        url:'./delete',
                        type:'POST',
                        data:{
                            'id': id,
                        }
                    });
                    $(this).parents("tr").remove();
                });

            });

            //モーダルウィンドウ閉じる処理  
            $("#modal-content,#modal-overlay").fadeOut("slow",function(){
                $("#modal-overlay").remove();
            });


            function closeModal(){
                $( "#modal-content,#modal-overlay" ).fadeOut( "slow" , function(){
                    $('#modal-overlay').remove();
                });
            }

            //モーダルウィンドウ中央寄せ
            function centeringModalSyncer() {

                //画面(ウィンドウ)の幅、高さを取得
                var w = $( window ).width() ;
                var h = $( window ).height() ;

                var cw = $( "#modal-content" ).outerWidth();
                var ch = $( "#modal-content" ).outerHeight();

                //センタリングを実行する
                $( "#modal-content" ).css( {"left": ((w - cw)/2) + "px","top": ((h - ch)/2) + "px"} ) ;

            }
        </script>

    </body>
</html>